<div class="post__holder">
  {{#foreach posts}}
    <div class="post__listing {{post_class}}">
      <h2>
        <a href="{{url}}">{{{title}}}</a>
      </h2>
      <section>
        <p>
          {{excerpt words="26"}}
          <a href="{{url}}">&raquo;</a>
        </p>
      </section>
      <footer>
        {{#if author.profile_image}}
          <figure>
            <img src="{{author.profile_image}}" alt="{{author.name}}'s Picture">
          </figure>
        {{/if}}
        {{author}}
        {{tags prefix=" on "}}
        <time datetime="{{date format='YYYY-MM-DD'}}">
          {{date format="DD MMMM YYYY"}}
        </time>
      </footer>
    </div>
  {{/foreach}}
</div>

{{pagination}}
