<nav class="nav nav--home">
  <h2 class='med logo logo--fixed nav__logo'>{{@blog.title}}</h2>
  {{#foreach navigation}}
    <a class="nav__link nav-{{slug}}{{#if current}} nav-current{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
  {{/foreach}}
  <!-- End the loop -->
</nav>
