<nav>
  {{navigation}}
</nav>
<!-- <header
  {{#if @blog.cover_image}}
    style="background-image: url({{@blog.cover_image}})"
  {{/if}}>
  {{#if @blog.logo}}
    <a href="{{@blog.url}}">
      <img src="{{@blog.logo}}" alt="Logo">
    </a>
  {{/if}}
  <h1>
    {{@blog.title}}
  </h1>
  <p>
    {{@blog.description}}
  </p>
</header> -->
