{{!< default}}

<!-- {{> "site-header"}} -->

{{#post}}
  <main role="main">
    {{#if feature_image}}
      <figure class='post__fig'>
        <div class="post__feat-img" style="background-image: url({{feature_image}})">
        </div>
      </figure>
    {{/if}}
    <article class="{{post_class}}">
      <header class='post__header'>
        <h1 class='heading'>
          {{{title}}}
        </h1>
        <time datetime="{{date format="YYYY-MM-DD"}}">
          {{date format='DD MMM YYYY'}}
        </time>
        {{tags prefix="on " separator=" | "}}
      </header>
      <section class='post__body'>
        <div class="post__content">
          {{content}}
        </div>
      </section>
      <footer>
        <section>
          {{#if author.profile_image}}
            <figure>
              <img src="{{author.profile_image}}" alt="{{name}}'s Picture">
            </figure>
          {{/if}}
          <h4>
            {{author.name}}
          </h4>
          <p>
            {{author.bio}}
          </p>
          <ul>
            {{#if author.location}}
              <li>
                {{author.location}}
              </li>
            {{/if}}
            {{#if author.website}}
              <li>
                <a href="{{author.website}}">
                  {{author.website}}
                </a>
              </li>
            {{/if}}
          </ul>
        </section>
        <section>
          Share this post on
          <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            Twitter
          </a>
          or
          <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            Facebook
          </a>
        </section>
      </footer>
    </article>
  </main>
{{/post}}
