@import 'settings/normalize';
@import 'settings/settings';
@import 'settings/type';

@import "bourbon";
@import "neat";

$neat-grid: (
  columns: 12,
  gutter: 20px,
);
.post{
  &__fig{
    margin: 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 37.5rem;
  }
  &__feat-img{
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &__header{
    @include grid-column(8);
    @include grid-push(2);
    padding: 30px 0;
  }
  &__listing{
      @include grid-column(4);
  }
  &__holder{
    @include grid-container;
    @include grid-column(10);
    @include grid-push(1);
  }
}
.post__body{
  @include grid-container;
}
.post__content{
  @include grid-column(8);
  @include grid-push(2);
  img{
    max-width: 100%;
    height: auto;
  }
}
.pagination{
  clear: both;
}

.nav{
  display: flex;
  padding-left: 20px;
  align-items: center;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  &__link{
    text-decoration: none;
    flex: 1;
    color: rgb(114, 149, 224);
    transition: color .2s ease;
    font-size: 1em;
    font-weight: 500;
    &:hover{
      color: darken(rgb(114, 149, 224), 10%)
    }
    &--button{
      flex: 1;
      text-align: center;
      background: rgb(114, 149, 224);
      padding: 20px;
      color: white;
      font-weight: 500;
      letter-spacing: 1px;
      position: relative;
      @media(min-width: 656px){
        flex: 2
      }
      &:hover{
        color: white;
      }
      &:before{
        content: "";
        position: absolute;
        z-index: 0;
        right: 100%;
        bottom: 0;
        background: lighten(#41557F, 10%);
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
    }
  }
  &__logo{
    flex: 2;
    text-align: left;
  }
}
.nav__link--button:hover:before{
  left: 0;
  right: 0;
}
.logo{
  color: #7295E0;
  margin: 0;
  font-size: 1em;
  font-weight: 700;
  @media(min-width: 500px){
    font-size: 1.777em;
  }
}
